<!-- Team Section -->
    <section id="funding" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Workshop Funding</h2>

<div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-left">

<div align="left">
<p class="large text-muted">The workshop is funded by a Major Workshops Grant from the Balsillie School of International Affairs, with additional support from the Faculty of Environment at the University of Waterloo, the Waterloo Institute for Complexity and Innovation, and the Department of Knowledge Integration at the University of Waterloo.</p>
</div>
                </div>


                </div>
            </div>
        </div>

    </section>