<!-- Team Section -->
    <section id="participants" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Confirmed Participants</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-left">

<p class="large text-muted"><b>Sarah Burch</b> is an expert in climate change governance and the North American coordinator of the Earth Systems Governance Project. She is an Assistant Professor in Geography and Environmental Management at the University of Waterloo and teaching in the Master’s of Climate Change program. She has published on urban responses to climate change, comparative policy analysis, “green” infrastructure for mitigation and adaptation, and multi-sector networks in climate change governance.</p>

<p class="large text-muted"><b>Angela Carter</b> is a political scientist at the University of Waterloo, and an expert in comparative environmental policy regimes surrounding oil development in key oil-dependent economies. Her research on oil and gas in Canada is funded by SSHRC. She has published on oil and gas, and is working on a book manuscript about Canadian environmental policy.</p>

<p class="large text-muted"><b>Neil Craik</b> is a lawyer, Associate Professor, and Director of the School of Environment, Enterprise and Development in the Faculty of Environment at the University of Waterloo. He is an expert on environmental policy in North America and environmental impact assessment. He has published extensively on these issues, and is currently conducting research on trans-boundary governance for environmental issues.</p>

<p class="large text-muted"><b>Heather Douglas</b> is the Waterloo Chair in Science and Society in the Department of Philosophy at the University of Waterloo. Her areas of expertise include the science-policy interface, and science and values. In addition to articles in the philosophy of science, she published <em>Science, Policy, and the Value Free Ideal</em> in 2009, and has been involved in public debates about science policy and environmental research in Canada.</p>

<p class="large text-muted"><b>Matthew Gaudreau</b> is a PhD student at the BSIA. His research focuses on China’s food security policy and its implication for global food and environmental governance. He has published on adaptive governance and the networks of environmental NGOs combating pollution in Nanjing's Qinhuai river. </p>

<p class="large text-muted"><b>Alex Latta</b> is an expert in environmental citizenship, with an emphasis on water governance in Latin America. He is a an Associate Professor in Global Studies at Wilfrid Laurier University and the BSIA. His current research examines the influence of UNDRIP at national and regional levels, and the different ways the declaration or principles aligned with the declaration get taken up in policy. He will give a paper on indigenous rights in environmental governance.</p>

<p class="large text-muted"><b>Patrick McCurdy</b> is an Associate Professor in the Department of Communication at the University of Ottawa. He has published extensively on social movements and the media, and is a collaborator on the SSHRC-funded oil-tourism interface project. He is also the PI of a SSHRC-funded project about media coverage of the Alberta oil sands.</p>

<p class="large text-muted"><b>John McLevey</b> is an Assistant Professor in the Departments of Knowledge Integration, Sociology &amp; Legal Studies, and Environment &amp; Resource Studies at the University of Waterloo. He is an expert in social / policy networks, political sociology, environmental sociology, and the sociology of knowledge and governance. He has published articles on think tanks and public policy, and on scientific networks. He is the PI on a SSHRC grant about open source collaboration networks, and a Co-I on the SSHRC-funded oil-tourism interface project.</p>

<p class="large text-muted"><b>Kari Norgaard</b> is a Professor of Sociology and Environmental Studies at the University of Oregon. She is an expert in environmental sociology, and has published articles and an influential book with MIT Press on the social organization of climate change denial. She is the author of many policy reports, and her work has been covered extensively in international media.</p>

<p class="large text-muted"><b>Tahnee Prior</b> is a PhD Student at the BSIA and the University of Waterloo. Her dissertation research seeks to understand what a legalized international governance structure that could account for the complexity and rapid change of the Arctic could look like and how we can get there. She will give a paper on transnational law and social-ecological resilience in the Arctic context.</p>

<p class="large text-muted"><b>Howard Ramos</b> is a Professor of Sociology at Dalhousie University, and the 2016-17 President of the Canadian Sociological Association. Among other things, he is an expert in political sociology, media, and human rights. His many publications include articles on the BP Oil Spill, and funding for environmental, indigenous, and women’s organizations in Canada.</p>

<p class="large text-muted"><b>Mark Saner</b> is an Associate Professor in Geography at the University of Ottawa. He conducts research on the interface between science and policy, on environmental ethics, and on governance of emerging technologies. He is the former director of the Institute for Science, Society and Policy at the University of Ottawa.</p> 

<p class="large text-muted"><b>Vanessa Schweizer</b> is an Assistant Professor in the Departments of Knowledge Integration, Environment &amp; Resource Studies, and Geography &amp; Environmental Management at the University of Waterloo. She is a contributing IPCC author, and organized the Canadian participants in the World Wide Views project on climate and energy in 2015. She has published on scenario analysis for climate change policy and on objectivity in scientific research.</p>

<p class="large text-muted"><b>Daniel Scott</b> is a geographer at the University of Waterloo, the Director of the Interdisciplinary Centre on Climate Change at the University of Waterloo, a Fellow at the BSIA, and a contributing IPCC author. In addition to his expertise in climate change, Dr. Scott has published extensively on sustainable tourism.</p>

<p class="large text-muted"><b>Mark Stoddart</b> is an environmental sociologist at Memorial University. He has published on a variety of issues that are central to this workshop, including climate change, media, tourism mobilities, social movements, and the political ecology of skiing. He is the principal investigator on a SSHRC grant about the oil-tourism interface in the North Atlantic.</p>

<p class="large text-muted"><b>Debora VanNijnatten</b> is Chair of the Department of Political Science at Wilfrid Laurier University, former Director of the Master of International Public Policy (MIPP) at the Balsillie School of International Affairs, and former Program Coordinator of the North American Studies Program at Laurier. She is an expert on trans-boundary environmental governance and trans-governmental policy networks. She has published books and articles about environmental politics and policy.</p>

<p class="large text-muted"><b>Tuomas Ylä-Anttila</b> is the co-founder and co-director of the Helsinki Research Group for Political Sociology at the University of Helsinki. He is currently the PI of the 3-year research project Climate Change Policy Networks in Finland in a Comparative Perspective, and member of the administrative board of the 20-country comparative research effort Comparing Climate Change Policy Networks. He has published on climate change, media, social movements and globalization.</p>

                </div>
            </div>
        </div>
    </section>